<nav class="navbar navbar-expand-lg fixed-top" style="padding: 0 108px; margin-top: 10px; margin-bottom: 15px;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="user_dashboard" style="font-size: x-large;">Home | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="scores" style="font-size: x-large;">Score | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: x-large;">Summary | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: x-large;">Logout</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>